:root{
--azulOscuro: #161c26;
--azul: #223A59;
--celeste: #8ea8bf;
--azulMar: #42708c;
--verdeAgua: #c9f2e7; 
}

.titulosFont{
    font-family: 'Bebas Neue', cursive;
}

.titulosAlt{
    font-family: 'Fjalla One', sans-serif;
}
.texto{
    font-family: 'Montserrat', sans-serif;
}

/*GENERAL*/
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}

    header > div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .logo{
            height: 2rem;
        }

        /*HEADER PORTADA*/
        .contenedorEnlaces{
            width: 20%;
            display: flex;
            justify-content: space-between;
        }
            
            .link{
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
            }

        /*HEADER INICIO*/
        #logoHeader{
            width: 10%;
            height: 5vh;
            background-color: red;
        }

        #buscador{
            width: 55%;
            padding: 1.5vh;
            background-color: var(--verdeAgua);
            outline: none;
            border: none;
            border-radius: 1rem;
            font-size: 1rem;
        }

        .usuarioPic{
            width: 55px;
            height: 55px;
            background-color: var(--azulOscuro);
            border-radius: 50%;
        }

/*PORTADA*/

/*CARRUSEL*/
#contedorCarrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90vh;
    margin: 2vh auto;
    padding: 3vw 1vw;
    position: relative;
}

    .titCarrusel{
        font-size: 2em;
    }
    ul, li{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slider{
        position: relative;
        width: 100%;
        height: 80vh;
    }

        .slider li{
            position: absolute;
            opacity: 0;
            width: inherit;
            height: inherit;
            background-color: white;
            transition: opacity .2s;
            transition-duration: 5s;
        }

            .slider li div{
                object-fit: cover;
                height: inherit;
                display: flex;
                justify-content: center;
            }

            .slider li:first-child{
                opacity: 1;
            }

            .slider li:target{
                opacity:1
            }

            .menuSlides{
                display: flex;
                z-index: 1;
            }

                .menuSlides *{
                    margin-top: 0;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 2rem;
                }


/*PÃGINA INICIO*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

    .contenedorLinkCategoria{
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        margin-left: 5%;
        width: 30%;
        font-size: 1rem;
    }

    .gridInicio{
        width: 90%;
        height: 100vh;
        margin: 1.5vh 0 6vh 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: stretch;
        gap: 0.5em;
    }

        .gridInicio div{
            background-color: var(--celeste);
            border-radius: 1rem;
        }

            .gridInicio :nth-child(1){
                grid-column: 1/3;
            }

            .gridInicio :nth-child(2){
                grid-column: 3/4;
                grid-row: 1/3;
            }

            .gridInicio :nth-child(3){
                grid-column: 4/5;
                grid-row: 1/2;
            }

            .gridInicio :nth-child(4){
                grid-column: 5/7;
                grid-row: 1/3;
            }

            .gridInicio :nth-child(5){
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .gridInicio :nth-child(6){
                grid-column: 2/3;
                grid-row: 2/4;
            }

            .gridInicio :nth-child(7){
                grid-column: 4/5;
                grid-row: 2/4;
            }

            .gridInicio :nth-child(8){
                grid-column: 5/7;
                grid-row: 3/4;
            }

/*FOOTER*/
footer{
    background-color: var(--azulOscuro);
    color: white;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    footer > div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
