:root{
--azulOscuro: #161c26;
--azul: #223A59;
--celeste: #8ea8bf;
--azulMar: #42708c;
--verdeAgua: #c9f2e7; 
}

.titulosFont{
    font-family: 'Bebas Neue', cursive;
}

.titulosAlt{
    font-family: 'Fjalla One', sans-serif;
}
.titulosTexto{
    font-family: 'Montserrat', sans-serif;
}

/*GENERAL*/
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER INICIO*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}

    header > div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        #logoHeader{
            width: 10%;
            height: 5vh;
            background-color: red;
        }

        #buscador{
            width: 55%;
            padding: 1.5vh;
            background-color: var(--verdeAgua);
            outline: none;
            border: none;
            border-radius: 1rem;
            font-size: 1rem;
        }

        .usuarioPic{
            width: 55px;
            height: 55px;
            background-color: var(--azulOscuro);
            border-radius: 50%;
        }

/*PÃGINA INICIO*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .gridInicio{
        width: 90%;
        height: 100vh;
        margin: 20vh 0 6vh 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: stretch;
        gap: 0.5em;
    }

        .gridInicio div{
            background-color: var(--celeste);
            border-radius: 1rem;
        }

            .gridInicio :nth-child(1){
                grid-column: 1/3;
            }

            .gridInicio :nth-child(2){
                grid-column: 3/4;
                grid-row: 1/3;
            }

            .gridInicio :nth-child(3){
                grid-column: 4/5;
                grid-row: 1/2;
            }

            .gridInicio :nth-child(4){
                grid-column: 5/7;
                grid-row: 1/3;
            }

            .gridInicio :nth-child(5){
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .gridInicio :nth-child(6){
                grid-column: 2/3;
                grid-row: 2/4;
            }

            .gridInicio :nth-child(7){
                grid-column: 4/5;
                grid-row: 2/4;
            }

            .gridInicio :nth-child(8){
                grid-column: 5/7;
                grid-row: 3/4;
            }

/*FOOTER*/
footer{
    background-color: var(--azulOscuro);
    color: white;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    footer > div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
